* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-messages{
  border: 1px solid red;
  color: red;
}

/* Container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Signup Card */
.signup-box {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Input styling */
input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4facfe;
}

/* First + Last name row */
.input-group {
    display: flex;
    gap: 10px;
}

/* Terms */
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.terms input {
    width: auto;
    margin-right: 10px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}